/* header, section, footer, nav, aside {border: 1px dotted red;} */
html { 
    background: url(landscape.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    min-width: 600px;
    text-align: center; 
    font-size: 5em;
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 7px;
    color: beige;
    font-weight: 1000;
}
h2 {
    text-align: center;
    letter-spacing: 16px;
    margin-top: 0;
    color: beige;
    font-weight: bolder;
}

main {
    display: flex;
}
/* 
aside {
    border: 3px solid beige;
    height: 200px; */
}

nav, section, aside {
    vertical-align: top;
}

nav, aside {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 320;
    flex: 1 0 320px;
    background-color: rgba(245, 245, 220, 0.324);
    height: 100px; 
    border-radius: 25px;
    margin: 35px;
}

section {
    min-width: 420px;
    color: beige;
    font-weight: 1500;
    background-color: rgba(210, 210, 191, 0.18);
    border-radius: 25px;
}

footer {
    text-align: center;
    color: beige;
    font-weight: 1000;
    margin: 80px; 
}
ul {
    list-style: none; 
    font-size: 1em;
}

