header, section, footer, nav, aside {border: 1px dotted red;}

h1 {
    min-width: 600px;
    text-align: center; 
}
h2 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}


nav, section, aside {
    vertical-align: top;

}

nav, aside {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 150px;
    flex: 1 0 150px;
}

section {
    min-width: 420px;
}


